{{- $config := (include "hedgedoc.config" .) | fromYaml -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "hedgedoc.fullname" . }}
  namespace: {{ .Values.namespace | default .Release.Namespace }}
  labels:
    {{- include "hedgedoc.labels" . | nindent 4 }}
type: Opaque
stringData:
  config.json: |
    {{- dict "production" $config | toPrettyJson | nindent 4 }}
